<html>
<head>
	<title>Stay Woke</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.19/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.19/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.19/js/uikit-icons.min.js"></script>
</head>

<body>
	<!--navigation component-->
	<div id="offcanvas-1" class="uk-offcanvas">
		<div class="uk-offcanvas-bar">
			<ul class="uk-nav uk-nav-offcanvas">...</ul>
		</div>
	</div>
	I just want to say <em style="color: green; font-size: 2em;">greeting</em>
	<em>Hello</em>, world!
	<div class="uk-container">Trump</div>
	<div class="uk-container">paulryan</div>
	<div class="uk-container">else</div>

	<script type="text/javascript">
		if ("geolocation" in navigator) {
			/* geolocation is available */
			navigator.geolocation.getCurrentPosition(function(position) {
				console.log(position.coords.latitude, position.coords.longitude);
			});
		}
		else {
			console.log("no geo");
			/* geolocation IS NOT available */
		}
	</script>
</body>
</html>