{% extends "base.html" %}
{% block body %}

<html>
<body background=/Images/2017-04-01 01.35.38 1.jpg>
<h1>Stay Woke</h1>
<main class="main main-inner bg-home" data-stellar-background-ratio="0.6" style="background-position: 50% 0px;">
        <section id="about" class="about section">
          <div class="container">
            <header class="main-header">
                <div class="entry">
                  <h3 class="entry-title section-title">We help shape the future<br>through design<span class="text-primary">.</span></h3>
                </div>
            </header>
          </div>

      </section>

    </main>
</body>
</html>


{% endblock %}